<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="icon" href="/assets/img/favicon.jpg" type="image/x-icon" title="scottcgi">

    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/noscript.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/scale.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div class="head" style="position:fixed;background-image:url(/assets/img/backgrond_head.jpg)">
      <a href="/" class="a_box">个人介绍</a>
      <a href="/xiangmu.html" class="a_box">项目介绍</a>
      <a href="/lunwen.html" class="a_box">论文合集</a>
      <a href="/jiang.html" class="a_box">获奖情况</a>
      <a href="/page.html" class="a_box">学习日志</a>
      <a href="/ziyuan.html" class="a_box">资源分享</a>
    </div>


    <div style="padding-top:6%"></div>

{{content}}
    <div style="text-align: center;padding-top: 5%">
    <table  cellpadding="3" cellspacing="0" style="width: 70%;margin:auto;background-color: transparent;">
        <tr>
            <td>
                <table class="t" style="background-color: transparent;">
                    <tr >
                        <td colspan="2"> <h2>Liu xiang Zheng</h2></td>
                    </tr>
                    <tr>
                        <td>BrithDay</td>
                        <td>21 &bull; 05 &bull; 2001</td>
                    </tr>
                    <tr>
                        <td>sex</td>
                        <td>boy</td>
                    </tr>
                    <tr class="icons">
                        <td><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></td>
                        <td><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></td>
                    </tr>
                </table>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <table class="t" style="background-color: transparent;">
                    <tr style="padding-left: 10%">
                        <td colspan="2" ><h2>Liu xiang Zheng</h2></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>LouDi &bull; HuNan &bull; China</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>1liuxiangzheng@gmail.com</td>
                    </tr>
                    <tr class="icons">
                        <td><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></td>
                        <td><a href="https://github.com/xiangzheng666" class="icon brands fa-github alt"><span class="label">GitHub</span></a></td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>